body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

.container {
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  color: #333;
}
.task-input {
  width: 75%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.add-task {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.add-task:hover {
  background-color: #45a049;
}
.task-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.cabecalho_tabela,
.task-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.task-table th {
  background-color: #f9f9f9;
}
.task-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.task-table tr:hover {
  background-color: #f1f1f1;
}
.flex {
  display: flex;
  gap: 1rem;
}
.complete-task,
.delete-task {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}
.complete-task {
  background-color: #4caf50;
  color: white;
}

.complete-task:hover {
  background-color: #45a049;
}
.delete-task {
  background-color: #f44336;
  color: white;
}

.delete-task:hover {
  background-color: #e53935;
}
.completed {
  background-color: #d3d3d3;
  color: #888;
  text-decoration: line-through;
}
